/* #login in the login box.  It can have 4 states:
   unset - no login details
   set - username+password have been provided, but not validated
   invalid - bad username/password
   valid - good username/password
   */
BODY { 
  background-color: #444;
  color: #eee;
}


#login { 
  color: white;
  padding: 1em;
}
#login.auth-invalid {
  background-color: red;
}
#login.auth-valid { 
  background-color: green;
}
#login.auth-set { 
  background-color: blue;
}
#login.auth-unset { 
  background-color: gray;
}



/* A group of thumbnails */
UL.thumb-set {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: none;
}
UL.thumb-set > LI { 
  width: 180px;
  height: 180px;
  float: left;
  margin: 0.5em;
}


/* 
   Thumbnail with associated user interface

   The structure of this is:
   <.thumbnail>		-- container (maybe .mayedit)	z=0
     <img>		-- thumbnail itself		z=1
     <.ui>		-- .ui element hover to activate other UI parts	z=2
       <A.view>         -- link to view large image	z=3
       <DIV.visibility>	-- image visibility indicator	z=4
         <A.need-auth>	-- edit image visibility	
       <A.arrow.need-edit>  -- rotate arrows		z=4
       <.meta>          -- metadata view		z=4

   Dimensions of the thumbnail are hard-coded; currently 180x180px.
   .thumbnail > IMG needs to have inline styles to set its size and
   position itself properly within the thumbnail frame.
*/
.thumbnail { 
  margin: .5em;
  position: absolute;
  width: 180px;  
  height: 180px;

  background: #aaa;

  z-index: 0;
}

/* Editable thumbnails are emphasized */
.auth.want-edit .thumbnail.mayedit { 
  background-color: #eee;
}
/* No images have borders */
.thumbnail IMG { 
  border: none;
}

.thumbnail > IMG { 
  position: absolute;
  z-index: 1;
}

/* UI parts of the thumbnail */
.thumbnail > .ui { 
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 2;
}

/* View-larger link */
.thumbnail > .ui > A.view { 
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 3;
  background-color: transparent;
}
.thumbnail > .ui.hover > A.view { 
  background: url(trans-50perc.png) repeat;
}

/* Visibility indicator */
.thumbnail > .ui > .visibility {
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 4;
  
  /* use png backgrounds to indicate visibility */
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
}
.thumbnail > .ui > .visibility.public {
  background-image: url(public.png);
}
.thumbnail > .ui > .visibility.private {
  background-image: url(private.png);
}
.thumbnail > .ui > .visibility.restricted {
  background-image: url(restricted.png);
}

/* May change the visibility - make the link visible*/
.auth.want-edit .thumbnail.mayedit > .ui > .visibility > A { 
  display: block;
}
/* If visibility isn't changable, no link */
.thumbnail > .ui > .visibility > A { 
  display: none;
}

/* arrow links invisible by default */
.thumbnail > .ui > A.arrow {
  display: none;
}
/* visible if we can edit */
.auth.want-edit .thumbnail.mayedit > .ui > A.arrow {
  display: block;
}

/* Arrow link positioning */
.thumbnail > .ui > A.arrow {
  position: absolute;
  z-index: 4;
  background: transparent no-repeat center;
}
.thumbnail > .ui > A.arrow:hover {
  background-color: orange;
}

.thumbnail > .ui > A.left {
  left: 0px;
  top: 79px;			/* 90-(22/2) */
  width: 28px;
  height: 22px;
}
.thumbnail > .ui.hover > A.left {
  background-image: url(arrow-large-left.png);
}

.thumbnail > .ui > A.right { 
  right: 0px;
  top: 79px;			/* 90-(22/2) */
  width: 28px;
  height: 22px;
}
.thumbnail > .ui.hover > A.right {
  background-image: url(arrow-large-right.png);
}

.thumbnail > .ui > A.down { 
  bottom: 0px;
  left: 79px;			/* 90-(22/2) */
  width: 22px;
  height: 28px;
}
.thumbnail .ui.hover > A.down {
  background-image: url(arrow-large-down.png);
}



/* Deal with authentication */
.need-auth {
  display: none;
}
.auth .need-auth { 
  display: block;
}
.need-no-auth { 
  display: block;
}
.auth .need-no-auth { 
  display: none;
}

/* Use an <i></i> for marking hidden content in the links */
A > I.hide { 
  visibility: hidden;
}
