/* #login in the login box.  It can have 4 states:
   unset - no login details
   set - username+password have been provided, but not validated
   invalid - bad username/password
   valid - good username/password
   */
BODY { 
  background-color: #444;
  color: #eee;
}


#login { 
  color: white;
  padding: 1em;
}
#login.auth-invalid {
  background-color: red;
}
#login.auth-valid { 
  background-color: green;
}
#login.auth-set { 
  background-color: blue;
}
#login.auth-unset { 
  background-color: gray;
}



/* A group of thumbnails */
UL.thumb-set {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: none;
}

/* Outer element of a thumbnail */
LI.thumbnail { 
  margin: .5em;
  display: block-inline;
  float: left;

  width: 180px;
  height: 180px;

  background: #aaa;
  background-repeat: no-repeat;
  background-position: center;
}
.thumbnail IMG { 
  border: none;
}
/* Editable thumbnails are emphasized */
.auth.want-edit .thumbnail.mayedit { 
  background-color: #eee;
  //margin: .25em;
  //border: solid .25em #eee;
}

.thumbnail > A {
  position: absolute;
  width: 180px;
  height: 180px;
  z-index: 0;
}

/* UI parts of the thumbnail */
.thumbnail .ui { 
  position: absolute;
  width: 180px;
  height: 180px;
  z-index: 1;
}

/* Visibility indicator */
.thumbnail .ui > .visibility {
  position: absolute;
  left: 10px;
  bottom: 10px;

  /* use png backgrounds to indicate visibility */
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
}
.thumbnail .ui > .visibility.public {
  background-image: url(public.png);
}
.thumbnail .ui > .visibility.private {
  background-image: url(private.png);
}
.thumbnail .ui > .visibility.restricted {
  background-image: url(restricted.png);
}

/* May change the visibility - make the link visible*/
.want-edit .thumbnail.mayedit .ui > .visibility > A { 
  display: block;
  z-index: 5;
}
/* If visibility isn't changable, no link */
.thumbnail .ui > .visibility > A { 
  display: none;
}

/* Rotate arrows appear when the user is authenticated, and the
   picture is editable by this user, and the mouse is hovering over
   the image. */
.thumbnail .ui > .rotate {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

/* arrow links invisible by default */
.thumbnail .ui > .rotate > A.arrow {
  display: none;
}
/* visible if we can edit */
.want-edit .thumbnail.mayedit .ui > .rotate A.arrow {
  display: block;
}

/* Image view link when rotate is present */
.thumbnail .ui > .rotate A.view {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  //border: solid 2px red;
  z-index: 3;
}
.thumbnail A.view:hover {
  background: url(trans-50perc.png) repeat;
}

/* Arrow link positioning */
.thumbnail .ui > .rotate > A.arrow {
  z-index: 4;
  background: transparent no-repeat center center;
}
.thumbnail .ui > .rotate > A.arrow:hover {
  background-color: orange;
}
.thumbnail .ui > .rotate A.left {
  position: absolute;
  left: 0px;
  top: 79px;			/* 90-(22/2) */
  width: 28px;
  height: 22px;
}
.thumbnail .ui > .rotate.hover A.left {
  background-image: url(arrow-large-left.png);
}
.thumbnail .ui > .rotate A.right { 
  position: absolute;
  right: 0px;
  top: 79px;			/* 90-(22/2) */
  width: 28px;
  height: 22px;
}
.thumbnail .ui > .rotate.hover A.right {
  background-image: url(arrow-large-right.png);
}
.thumbnail .ui > .rotate A.down { 
  position: absolute;
  bottom: 0px;
  left: 79px;			/* 90-(22/2) */
  width: 22px;
  height: 28px;
}
.thumbnail .ui > .rotate.hover A.down {
  background-image: url(arrow-large-down.png);
}



/* Deal with authentication */
.need-auth {
  display: none;
}
.auth .need-auth { 
  display: block;
}
.need-noauth { 
  display: block;
}
.auth .need-noauth { 
  display: none;
}

/* Use an <i></i> for marking hidden content in the links */
A > I.hide { 
  visibility: hidden;
}
