/* default stylesheet */

/* 
   classes used:

   Page classes:
   .view:	image viewing pages
   .calendar:	calendar pages

   Overall classes:
   .picture:	<img>s referring to full-sized pictures
   .thumb:	<img>s referring to thumbnails
   .arrow:	<img>s for little arrows

   .selected:	any selected option
   .error:	error messages
 */

/* Overall default definitions */
BODY { 
  background-color: #444444;
  color: #eeeeee;

  margin-left: 10em;
}
A		{ text-decoration: none; }
A:link		{ color: #dddddd; }
A:visited	{ color: #dddddd; }
A:hover		{ color: #ffa66b; } /* orange */
A:active	{ color: #ffa66b; }

.picture	{ border: 0; padding: 0; }

.thumb		{ border: 0; padding: 5px; }
A:hover .thumb	{ border: 1px solid #ff8b3e; padding: 4px; }
/* If the URL targets this image, then emphasize it */
.thumb:target	{ background-color: #666666; }

.arrow		{ border: 0; padding: 0; }
A .arrow-left, A .arrow-right { 
  vertical-align: center;
}
.selected	{ background-color: #888888; font-weight: bold; }
A.selected:hover { color: #ff8b3e; } /* use a more saturated orange */

.error {
  text-align: center;
  color: white;

  padding: 1em;
  margin: 2em;
  border: 3px solid red;
}
.error .header { 
  font-weight: bold;
  display: block;
}


/* Menu pane */
DIV.menu { 
  position: fixed;
  width: 9em;
  height: auto;
  top: 10%;
  left: 10px;
  right: auto;
  bottom: 100px;

  font-size: 70%;
  font-weight: bold;

  border: 1px solid #555555;

  padding: 5px;
}
DIV.menu > UL { 
  margin-left: 0;
  padding-left: 0;
}
DIV.menu > UL > LI { 
  margin-top: 1em
}
DIV.menu LI.subhead { 
  margin-top: .5em;
}
DIV.menu UL UL { 
  margin-left: 1em;
  padding-left: 0;
}
DIV.menu LI { 
  list-style: none;
  margin-left: 0;
}
DIV.menu .nav-prev { 
  position: absolute;
  bottom: 0px;
  left: 4px;
}
DIV.menu .nav-next { 
  position: absolute;
  bottom: 0px;
  right: 4px;
}

/* Login */
.loginform { 
  background-color: #555555;
  border: 1px solid white;

  text-align: center;

  font-size: 90%;
  font-weight: bold;

  top: 0;
  bottom: 0;
  left: 10em;
  right: 0;
  width: 40%;
  height: 20%;
  position: absolute;
  margin: auto;
}
.loginform .input { 
  vertical-align: middle;
}
.loginform INPUT { 
  margin-top: 1em;
  margin-bottom: 1em;
}


/* 
   This-way-up widget

   This is all a bit subtle.  The idea is to glue little arrows onto
   each side of the thumbnail image, and wrap all the images in A
   elements to make them do things.  It also tries to minimize the
   number of hard-coded values inserted into the style.

   The hover effect for the thumbnail link adds an orange border.
 */

DIV.thiswayup {
  position: relative;
  display: block;
  float: left;

  padding: 0px;
  margin: 4px;

  line-height: 0;		/* no line gaps */
}

.thiswayup A {
  position: absolute;
  border: 0;
  padding: 0;
}

.thiswayup IMG.thumb {
  position: relative;
  top: -1px;
  left: -1px;
  padding: 5px;			/* 5 pixels total padding */
  border: 0;
  margin: 0px;
}
.thiswayup A:hover .thumb {
  /* retain 5 pixels of padding */
  border: 1px solid #ff8b3e;	/* 1 pixel border */
  padding: 4px;			/* 4 pixels of padding */
}

/* position the arrows */
.thiswayup > .left-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto auto 0px;
}
.thiswayup > .right-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto 0px auto auto;
}
.thiswayup > .up-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px auto auto auto;
}
.thiswayup > .down-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto 0px auto;
}

IMG.arrow { border: 0; }

/* sizes of arrows and things containing arrows */
.left-arrow, .right-arrow {
  width: 4px;
  height: 8px;
}
.up-arrow, .down-arrow {
  width: 8px;
  height: 4px;
}


/* view windows */
BODY.view {
  margin: 0;
  background-color: black;
}
BODY.view .picture { 
  margin: 15px;			/* update Image.view_margin to match */
}
BODY.view .nav { 
  position: fixed;
  top: 0px;
  left: 0px;

  text-align: center;
  width: 100%;
  height: 10px;

  font-size: 9px;
  white-space: nowrap;

  vertical-align: middle;
}
BODY.view .nav a:hover { 
  font-size: 150%;
  font-weight: bold;
  padding: 0px 5px 5px;
}
BODY.view .nav .size A {
  text-align: center;
  padding-left: .5em;
  padding-right: .5em;
  background-color: black;
}
BODY.view .nav .size A.selected	{
  background-color: #888888;
}
BODY.view .nav .prev {
  position: absolute;
  left: 20px;
  background-color: black;
}
BODY.view .nav .next { 
  position: absolute;
  right: 20px;
  background-color: black;
}

/* Picture details */
.details { 
  margin: 2%;
}
.details .name, DIV.details .val {
  font-size: 75%;
}
.details .name {
  font-weight: bold;
  display: inline-block;
}
.details .detail-thumb { 
  display: block;
  float: right;
}
.details .detail_tab .name { 
  text-align: right;
  font-weight: bold;
}
.details .detail_tab .val { 
  text-align: left;
}
.details DT {
}
.details DD { 
  display: block;
  margin-left: 1em;
  margin-bottom: 1em;
}

/* calendar windows */
BODY.calendar DIV.day { 
  margin-top: 4em;
  margin-left: 5%;
  margin-right: 5%;
  clear: both;
}
BODY.calendar DIV.day .day-link { 
  display: block;
  margin-bottom: 1em;
  margin-left: -2em;
  font-weight: bold;
}

/* Collection */
BODY.collection .sampler { 
  top: 0;
  bottom: 0;
  left: 10em;
  right: 0;
  width: 80%;
  height: 80%;
  position: absolute;
  margin: auto;
}
BODY.collection .sampler .image { 
  width: 160px;
  height: 160px;
}

